* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header div.header-box {
    background-image: url("../img/jumbo.png");
}

header div.header-box div.top-box p {
    color: white;
}

header div.header-box div.top-box {
    display: flex;
}

h1 {
    color: white;
}